[Desktop Entry]
Version=2.1
Name=Spine2D
GenericName=Animation Editor
Type=Application
Comment=Create and edit 2D animations
Exec=spine
TryExec=/usr/local/bin/spine
Path=/usr/local/lib/spine
Terminal=false
StartupNotify=false
Icon=/usr/local/lib/spine/spine-icon.png
Categories=Development;Graphics;Video;IDE;2DGraphics;RasterGraphics;ImageProcessing
